header{
  background-color: $backgroundcolor;
  height: 150px;
  width: 100%;
  @include flex;
  div{
    margin:0 15px;
    a{
      background-color: $btncolor;
      padding:15px;
      border: none;
      border-radius: 15px;
      text-decoration: none;
      color:$maincolor;
      width:100%;
      height:100%;
      &:hover{
        background-color: $btnhovercolor;
        cursor:pointer;
      }
    }
  }
}
h1{
  text-align: center;
  color:$btncolor;
}
body{
  background-color: $backgroundcolor;
}
